@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");
$bg: rgb(16,16,16);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        display: none;
    }
    // background-color: black;
}
a{
    
    text-decoration: none;
}
a,h2 {
    color: white;
}
